[submodule "field-service-impro"]
	path = field-service-impro
	url = git@github.com:xmarts/field-service-impro.git
[submodule "fieldservice_xma"]
	path = fieldservice_xma
	url = git@github.com:xmarts/fieldservice_xma.git
